<html>

<head>
    <title>WebRTC demo</title>
    <!--Bootstrap only for styling-->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!--Bootstrap only for styling-->
</head>

<body>

<div class="container">
    <div>
        <video id="localVideo" autoplay width="480px"></video>
        <video id="remoteVideo" width="480px" autoplay></video>
    </div>

</div>
<script src="/js/func.js"></script>
<div class="footer">WebRTC Test Projeect</div>

</body>

</html>